/* Barra de navegación */
.custom-navbar {
  background-color: #0074d9;
  color: white;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  height: 60px; /* Alto fijo para la barra de navegación */

  .nav-left {
    a {
      margin-right: 15px;
      text-decoration: none;
      color: white;
      font-weight: bold;
      font-size: 14px;
      transition: color 0.3s, background-color 0.3s;

      &:hover {
        color: #0056b3;
        background-color: white;
        padding: 5px;
        border-radius: 3px;
      }
    }
  }

  .nav-right {
    display: flex;
    align-items: center;

    .cerrar-sesion {
      margin-left: 15px;
      color: white;
      text-decoration: none;
      font-weight: bold;

      &:hover {
        color: #f0f0f0;
        text-decoration: underline;
      }
    }

    .user-avatar {
      margin-right: 10px;
      font-weight: bold;
    }
  }
}

/* Ajuste de contenido principal */
.main-content {
  margin-top: 60px; /* Para que el contenido no quede cubierto por la barra de navegación fija */
  padding: 20px;
  padding-bottom: 80px; /* Para que el contenido no quede cubierto por el pie de página */
}

/* Pie de página */
.custom-footer {
  background-color: #0074d9;
  color: white;
  text-align: center;
  padding: 10px;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 60px; /* Alto fijo para el pie de página */
  z-index: 999; /* Asegura que el pie de página no cubra otros elementos */
}

/* Para evitar que el pie de página tape el contenido en pantallas grandes */
@media (min-width: 1024px) {
  .custom-footer {
    position: relative;
  }
}