<div id="main-content">
    <div class="container">
      <div class="row">
        <h1>Tipos de Actividad</h1>
  
        <div class="d-flex justify-content-between gap-2">
          <div class="w-75">
            <div class="card">
              <div class="card-body">
                <table class="table">
                  <thead>
                    <tr>
                      <th scope="col" class="text-center" style="width: 100px">
                        id                      
                      </th>
                      <th scope="col" class="text-center">Titulo</th>
                      <th scope="col" class="text-center">Objetivo</th>
                      <th scope="col" class="text-center">Descripcion</th>
                      <th scope="co" class="text-center">Opciones</th>
                    </tr>
                  </thead>
                  <tbody *ngFor="let a of tipos">
                    <tr style="width: 100%">
                      <th scope="row" class="text-center text-overflow">
                        {{ a.id }}
                      </th>
                      <td class="text-center text-overflow">{{ a.titulo }}</td>
                      <td class="text-center text-overflow" style="width: 200px">
                        {{ a.objetivo }}
                      </td>
                      <td class="text-center text-overflow" style="width: 200px">
                        {{ a.descripcion }}
                      </td>
                      <td class="btnOp">
                        <button
                          type="button"
                          (click)="consultarTiposActividad(a.id)"
                          class="bi bi-pencil btn btn-primary m-1"
                        ></button>
                        <button
                          type="button"
                          (click)="eliminarTiposActividad(a.id)"
                          class="bi bi-trash btn btn-danger m-1"
                        ></button>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <div class="w-25">
            <div class="card">
              <div class="card-body">
                <h3 class="card-title fw-bold">Nuevo Tipo de Actividad</h3>
  
                <div class="form">
                  <div class="mb-3">
                    <label for="tipoActividadSelect" class="form-label"
                      >Título</label
                    >
                    <select
                      id="tipoActividadSelect"
                      class="form-control"
                      [(ngModel)]="tipo.titulo"
                    >
                      <option value="" disabled selected>
                        Seleccione una actividad
                      </option>
                      <option value="Futbol Sala">Fútbol Sala</option>
                      <option value="Voleibol">Voleibol</option>
                      <option value="Baloncesto">Baloncesto</option>
                      <option value="Ajedrez">Ajedrez</option>
                    </select>
                  </div>
                </div>
  
                <div class="mb-3">
                  <label for="exampleFormControlInput1" class="form-label"
                    >Objetivo</label
                  >
                  <input
                    type="text"
                    class="form-control"
                    [(ngModel)]="tipo.objetivo"
                    placeholder="Objetivo"
                  />
                </div>
  
                <div class="mb-3">
                  <label for="exampleFormControlInput1" class="form-label"
                    >Descripcion</label
                  >
                  <input
                    type="text"
                    class="form-control"
                    [(ngModel)]="tipo.descripcion"
                    placeholder="Descripcion"
                  />
                </div>
              </div>
  
              <div>
                <button
                  (click)="crearTiposActividad()"
                  class="btn btn-outline-success m-1"
                >
                  Agregar
                </button>
                <button
                  type="button"
                  (click)="actualizarTiposActividad(tipo.id, tipo)"
                  class="btn btn-outline-primary m-1"
                >
                  Editar
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>