<div class="Container-fluid" id="main-content">
    <div class="container">
        <div class="row" style="overflow-y: auto;">
            <div class="izquierda col-2">
                <h1>Asistencia</h1>
                <button [routerLink]="['/guiInstructor']" class="btn btn-primary btn-sm" type="button">Cronograma</button>
                <div class="cartas">
                    <div class="cards">
                        <div class="form-group">
                            <label for="actividadFiltro">Filtrar por actividad:</label>
                            <select id="actividadFiltro" class="form-control" #actividadSelect (change)="filtrarPorActividad(actividadSelect.value)">
                              <option value="" selected>Selecciona una actividad</option>
                              <option *ngFor="let actividad of actividades" [value]="actividad.id">
                                  {{ actividad.nombre }}
                              </option>
                            </select>
                        </div>
  
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col" class="text-center">Código</th>
                                    <th scope="col" class="text-center">Nombre</th>
                                    <th scope="col" class="text-center">Vinculación</th>
                                    <th scope="col" class="text-center">Fecha</th>
                                    <th scope="col" class="text-center">Actividad</th>
                                    <th scope="col" class="text-center">Asistencia</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let inscripcion of inscripcionesFiltradas">
                                    <td class="text-center">{{ inscripcion.id }}</td>
                                    <td class="text-center">{{ inscripcion.usuario }}</td>
                                    <td class="text-center">{{ inscripcion.tipoVinculacion }}</td>
                                    <td class="text-center">{{ inscripcion.fechaInscripcion }}</td>
                                    <td class="text-center">{{ inscripcion.actividad_id }}</td>
                                    <td class="text-center">
                                        <input type="checkbox" [(ngModel)]="inscripcion.asistencia" (change)="actualizarAsistencia(inscripcion)">
                                    </td> 
                                </tr>
                            </tbody>
                        </table>
  
                        <button type="button" class="btn btn-success mt-3" (click)="guardarAsistencia()">Guardar Asistencia</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>