.title {
  font-family: 'Roboto', sans-serif;
  font-size: 2rem;
  font-weight: 700;
  text-align: center;
  color: #333333;
  padding-bottom: 0.5rem;
  border-bottom: 2px solid #ddd;
  margin-bottom: 1rem;
}

.accordion-button {
  background-color: #007bff;
  color: #ffffff;
  font-weight: bold;
  border: none;
}

.accordion-button:not(.collapsed) {
  color: #fff;
  background-color: #077fff;
}

.accordion-button:hover {
  background-color: #0e7cf1;
  color: white;
}

.accordion-body {
  background-color: #f9f9f9;
  padding: 1.5rem;
  border: 1px solid #ddd;
  border-radius: 8px;
}

.table th {
  background-color: #007bff;
  color: white;
}