<div class="contcoordinador">
    <!-- Menú lateral -->
    <div class="left d-flex flex-column p-3 text-bg-dark">
        <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
            <span class="fs-4">
                <img src="./assets/images/Logo-Unicolombo.png" style="width: 100%;">
            </span>
        </a>
        <hr>

        <div class="user-container">
            <div class="user-avatar1" id="userAvatar1">
                <img src="/assets/perfilUser/3.jpeg" alt="Usuario">
            </div>
            <br>
            <a class="d-flex flex-row justify-content-center align-items-center">{{usuario.nombre}} {{usuario.apellido}} - {{usuario.id}}</a>
            <hr>
        </div>

        <ul class="nav nav-pills flex-column mb-auto mt-5">
            <li>
                <button (click)="mostrarComponenteDisciplina()" class="btn1" aria-current="page">Gestor Disciplinas</button>
            </li>
            <li>
                <button (click)="mostrarComponenteInstructor()" class="btn1" aria-current="page">Gestor Instructores</button>
            </li>
            <li>
                <button (click)="mostrarComponenteEscenario()" class="btn1" aria-current="page">Gestor Escenarios</button>
            </li>
            <li>
                <button (click)="mostrarComponentePrograma()" class="btn1" aria-current="page">Gestor Programas</button>
            </li>
            <li>
                <button (click)="mostrarComponenteTipoActividad()" class="btn1" aria-current="page">Gestor Tipo Actividad</button>
            </li>
            <li>
                <button (click)="mostrarComponenteActividad()" class="btn1" aria-current="page">Gestor Actividad</button>
            </li>
            <li>
                <button (click)="mostrarComponenteSolicitudeseliminacion()" class="btn1" aria-current="page">Gestor Solicitud Desvinculación</button>
            </li>
        </ul>
        <hr>

        <div class="dropdown">
            <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                <img src="/assets/perfilUser/3.jpeg" alt="" width="32" height="32" class="rounded-circle me-2">
                <strong>{{usuario.nombre}}</strong>
            </a>
            <ul class="dropdown-menu dropdown-menu-dark text-small shadow p-2">
                <li><a class="dropdown-item" href="#">Configuraciones</a></li>
                <li><a class="dropdown-item" href="#">Perfil</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="#">Cerrar Sesión</a></li>
            </ul>
        </div>
    </div>

    <!-- Contenido principal -->
    <div class="contenido">
        <div class="container-fluid p-3 mb-1 border-bottom bg-primary" style="height: 60px;">
            <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
                <!-- Agregar contenido del encabezado aquí -->
            </div>
        </div>
        <div class="scroll-content">
            <app-area *ngIf="mostrarParea"></app-area>
            <app-escenario *ngIf="mostrarPescenario"></app-escenario>
            <app-instructor *ngIf="mostrarPinstructor"></app-instructor>
            <app-disciplina *ngIf="mostrarPdisciplina"></app-disciplina>
            <app-programa *ngIf="mostrarPprograma"></app-programa>
            <app-tipo-actividad *ngIf="mostrarPtipoActividad"></app-tipo-actividad>
            <app-actividad *ngIf="mostrarPactividad"></app-actividad>
            <app-solicitudes-eliminacion *ngIf="mostrarPsolicitudeseliminacion"></app-solicitudes-eliminacion>
        </div>
    </div>
</div>
