h1 {
    text-align:center;
    color:rgb(80, 59, 59);
}

.container {
    width: 99.5%;
    height: 100%;
    overflow-y: auto;
}

.izquierda{
    width: 70%;
    height: 700px;
    overflow-y: auto;
}

.derecha{
    width: 30%;
}

input[type="text"]:hover,
.form-select:hover,
#formFileSm:hover{
    transform: translateY(-3px);
    width: 100%;
    border-collapse: collapse;

}

input[type="text"]:focus,
.form-select:focus,
#formFileSm:focus {
    width: 100%;
    margin-top: 0.75rem; 
    border-radius: 35px;
}

.cartas {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: 32% 32% 32%;
    grid-template-rows: auto auto;
}

.cards {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s, box-shadow 0.2s;
}

.cards:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.199);
}

.carta {
    width: calc(33.33% - 10px);
    margin-bottom: 10px;
    border: 2px solid #e7e7e7;
    border-radius: 4px;
    padding: .5rem;
    box-sizing: border-box;
}

.text-overflow {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 250px;
}

.card {
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.btn-outline-success, .btn-outline-primary {
    border-radius: 20px;
    padding: 10px 20px;
}

.is-invalid {
    border: 2px solid red;
  }