<div class="container-fluid" id="main-content">
    <header>
        <h1>Gestión de Instructores y Disciplinas</h1>
    </header>
    <main class="container">
        <div class="accordion" id="accordionExample">
            <!-- Instructores -->
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingInstructores">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseInstructores" aria-expanded="true" aria-controls="collapseInstructores">
                        Instructores
                    </button>
                </h2>
                <div id="collapseInstructores" class="accordion-collapse collapse show" aria-labelledby="headingInstructores" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <div class="table-responsive">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th scope="col">ID</th>
                                        <th scope="col">Nombre</th>
                                        <th scope="col">Apellido</th>
                                        <th scope="col">Identificación</th>
                                        <th scope="col">Tipo</th>
                                        <th scope="col">Disciplina</th>
                                        <th scope="col">Opciones</th>
                                    </tr>
                                </thead>
                                <tbody *ngFor="let instructor of instructores">
                                    <tr *ngIf="instructor.tipoI == 'Instructor'">
                                        <td scope="row">{{ instructor.id }}</td>
                                        <td>{{ instructor.nombreProfe }}</td>
                                        <td>{{ instructor.apellidoProfe }}</td>
                                        <td>{{ instructor.cedula }}</td>
                                        <td>{{ instructor.tipoI }}</td>
                                        <td>{{ instructor.disciplina.nombre }}</td>
                                        <td>
                                            <button mat-raised-button color="primary" class="btn-outline-primary" (click)="abrirDialogoEditar(instructor)">Editar</button>
                                            <button type="button" class="btn-outline-danger" (click)="eliminarInstructor(instructor.id);">Eliminar</button>
                                        </td>                                        
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Disciplinas -->
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingDisciplinas">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseDisciplinas" aria-expanded="false" aria-controls="collapseDisciplinas">
                        Disciplinas Disponibles
                    </button>
                </h2>
                <div id="collapseDisciplinas" class="accordion-collapse collapse" aria-labelledby="headingDisciplinas" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <table class="table table-bordered">
                            <thead>
                                <tr style="text-align: center;">
                                    <th scope="col">ID</th>
                                    <th scope="col">Nombre</th>
                                    <th scope="col">Opción</th>
                                </tr>
                            </thead>
                            <tbody *ngFor="let d of disciplinas">
                                <tr *ngIf="d.estado == 'Activo'" style="text-align: center;">
                                    <td scope="row">{{ d.id }}</td>
                                    <td>{{ d.nombre }}</td>
                                    <td><button (click)="seleccionarDisciplina(d)" class="btn btn-primary btn-sm">Seleccionar</button></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <!-- Formulario -->
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingFormulario">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFormulario" aria-expanded="false" aria-controls="collapseFormulario">
                        Datos de Instructor
                    </button>
                </h2>
                <div id="collapseFormulario" class="accordion-collapse collapse" aria-labelledby="headingFormulario" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <div class="row gy-4 gy-xl-2 p-xl-2 cdar">
                            <div class="col-12 col-md-6">
                                <label>Nombre:</label>
                                <input type="text" [(ngModel)]="instructor.nombreProfe" placeholder="Nombre" class="form-control">
                            </div>
                            <div class="col-12 col-md-6">
                                <label>Apellido:</label>
                                <input type="text" [(ngModel)]="instructor.apellidoProfe" placeholder="Apellido" class="form-control">
                            </div>
                            <div class="col-12 col-md-6">
                                <label>Identificación:</label>
                                <input type="text" [(ngModel)]="instructor.cedula" placeholder="Identificación" class="form-control">
                            </div>
                            <div class="col-12 col-md-6">
                                <label>Email:</label>
                                <input type="text" [(ngModel)]="instructor.emailProfe" placeholder="Email" class="form-control">
                            </div>
                            <div class="col-12 col-md-6">
                                <label>Teléfono:</label>
                                <input type="text" [(ngModel)]="instructor.numeroTelefono" placeholder="Teléfono" class="form-control">
                            </div>
                            <div class="col-12 col-md-6">
                                <label>Especialidad:</label>
                                <input type="text" [(ngModel)]="instructor.especialidad" placeholder="Instructor" class="form-control" disabled>
                            </div>
                            <div class="col-12 col-md-6">
                                <label>Login:</label>
                                <input type="text" [(ngModel)]="instructor.loginP" placeholder="Login" class="form-control">
                            </div>
                            <div class="col-12 col-md-6">
                                <label>Password:</label>
                                <input type="password" [(ngModel)]="instructor.passwordP" placeholder="Password" class="form-control">
                            </div>
                            <div class="col-12 col-md-6">
                                <label>Disciplina:</label>
                                <input type="text" [(ngModel)]="instructor.disciplina.nombre" class="form-control" disabled>
                            </div>
                            <div>
                                <button (click)="crearInstructor()" class="btn btn-outline-success m-1">Crear</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>
